# Data Consistency

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
df_prods = pd.read_csv(r'C:\Users\danac\Downloads\Instacart Basket Analysis\02 Data\Original Data\4.3 Orders Products\products.csv', index_col = False)

In [4]:
df_ords = pd.read_csv(r'C:\Users\danac\Downloads\Instacart Basket Analysis\02 Data\Prepared Data\orders_wrangled2.csv', index_col = False)

In [5]:
#01.Mixed Data Type

In [6]:
#Create Dataframe
df_test = pd.DataFrame()

In [7]:
#Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [8]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [10]:
#Finfing mixed data type
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\danac\AppData\Local\Temp\ipykernel_43452\2924036797.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [12]:
#Changing data type of data frame df_test
df_test['mix'] = df_test['mix'].astype('str')

In [13]:
#02.Missing values

In [14]:
#Finding missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [24]:
#Creting new data frame with just the missing values
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [26]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [28]:
df_prods.shape

(49693, 5)

In [30]:
#Creting new Dataframe without missing values 
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [32]:
df_prods_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [34]:
df_prods_clean.shape

(49677, 5)

In [36]:
#03.Duplicates

In [38]:
#Finding duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [40]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [42]:
df_prods_clean.shape

(49677, 5)

In [44]:
#Creating new dataframe without Duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [46]:
df_prods_clean_no_dups.shape

(49672, 5)

In [48]:
df_prods_clean_no_dups.to_csv(r'C:\Users\danac\Downloads\Instacart Basket Analysis\02 Data\Prepared Data\prods_checked.csv', index=False)

# 4.5 Exercise Taks

In [51]:
#Executing describre function
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# The min values from order, user, order number, orders day of week, order hour day and day since last order, seems to be all the same.

In [54]:
#Finding mixed data Type
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].apply(lambda x: x.map(type)) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)
  if len (df_ords[weird]) > 0:
    print (col)

In [56]:
#Finding missing values
df_ords.isnull().sum()

order_id                      0
user_id                       0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_last_order    206209
dtype: int64

# There is a total of 206.209 missing values in the column days_since_last_ordes

In [59]:
#Creating new Dataframe without missing values 
df_ords_clean = df_ords[df_ords['days_since_last_order'].isnull() == False]

In [61]:
df_ords_clean

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

## Explanation: I decided to create a new dataframe without the missing values

In [70]:
#Duplicates
df_dups_ords = df_ords_clean[df_ords_clean.duplicated()]

In [72]:
df_dups_ords

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_last_order]
Index: []

## The data frame has no duplicates

In [76]:
df_ords_clean.to_csv(r'C:\Users\danac\Downloads\Instacart Basket Analysis\02 Data\Prepared Data\ords_checked.csv', index=False)

In [60]:
#Adress the missing values with appropiate method
df_ords_clean = df_ords
df_ords_clean['new_customer'] = df_ords['days_since_last_order'].isnull() == True
df_ords_clean

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False
...,...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0,False
3421079,1854736,206209,11,4,10,30.0,False
3421080,626363,206209,12,1,12,18.0,False
3421081,2977660,206209,13,1,12,7.0,False
3421082,272231,206209,14,6,14,30.0,False

In [62]:
df_ords_clean.to_csv(r'C:\Users\danac\Downloads\Instacart Basket Analysis\02 Data\Prepared Data\ords_checked2.csv', index=False)